extends partials/layout
include partials/statics

block head
  +styles('/styles/me.css')

block main
  h1 Staticify Test /me
  p If you can see a Me segment, a list of Posts, then your setup is working.
  p Link back to self:
    | #{' '}
    a(href='/') /
  p#me CSS that only works for /me.
  div#text

block scripts
  +scripts('/scripts/me.js')
