mixin styles(href='')
  link(rel='stylesheet' type='text/css' href=staticPath(href))&attributes(attributes)

mixin scripts(src='')
  script(type='text/javascript' src=staticPath(src))&attributes(attributes)

mixin img(src='')
  img(src=staticPath(src))&attributes(attributes)
